	body {
    background-color: #00203FFF;
    margin: 0px;
    padding:0px; 
}
.navbar-brand{
	font-weight: bolder;
}
.nav-item a:hover{
				border-bottom:3px solid #685404;
				visibility:visible;
			}
.navbar-nav{
	font-size: 1em;
	width:100%;
}
.navbar-light .navbar-brand {
    color: #ADEFD1FF
}
.navbar a:hover{
	color: #00203FFF;
}
.navbar-brand{
		font-size:1.8em;
		font-family:sans sheriff;
	}
	.collapse{
		float:right;
		border-left: 3px solid white;
	}
	.collapse a:hover{
		border-bottom:2px solid #ADEFD1FF;
	}

.navbar-light .navbar-nav .nav-link {
    color:white;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white
}
.navbar-toggler{
	background-color:white;
}
.nav-item{
	font-weight: bolder;
	text-align: center;
	padding-left:3px;
	width:18%;
}
.dropdown-menu{
	background-color: #ADEFD1FF;
	text-align: center;
}
.dropdown-menu a:hover{
		box-sizing:border-box;
		box-shadow:2px 2px 2px 2px #00203FFF;
}
.name{
		height:75px;
		float: left;
		font-family: Trattatello, fantasy;
		color: #dadad8;
		margin-left:2%;
		transition-timing-function: ease-in-out;
	}
	#corner{
		width:10%
	}
	.name a{
		top:0px;
		right:0px;
		position:fixed;
		border:1px solid black;
		color:grey;
		width:100px;
		height:5%;
		text-align:center;
		transition: width 2s;
		background-color:white;
	}
	.name a:hover{
		border-radius:10px;
		width: 200px;
		background-color:white;
	}

	

/*************************navbar end**********************************/
.inner-page {
    padding-top: 50px;
}
section{
    clear: both;
}
.inner-page .container {
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
    margin-bottom: 50px;
    max-width: 1210px;
    width: 100%
}
.page-title {
    font-size: 36px;
    color: #ADEFD1FF;
    /*text-transform: uppercase;*/
    display: inline-block;
    line-height: 1.4
}
h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}
.inner-page-data {
    padding-bottom: 70px;
}
.cms-page h5 {
    font-size: 1em;
    color: #fff;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: 'NeoSansStd-Regular'
}
.inner-page-data .fac-accordion-sec h5 a {
    text-transform: capitalize;
    font-weight: 600;
    color: #00203FFF;
    white-space: pre-wrap;
    padding-right: 20px;
	font-size:1.5em;
}
.aca-fee {
    border-top: 10px solid #00203fff;
}
.inner-page-table .table {
    margin-bottom: 20px;
}
.inner-page-table .table {
    position: relative;
    border-top: 10px solid #00203fff;
}
.inner-page-table tr th {
    background: #ADEFD1FF;
    color: #00203fff;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    padding: 20px 10px 10px;
}
body p {
    font-size: 14px;
    color: #333;
    font-family: 'Lato', sans-serif;
    line-height: 1.7;
}
.inner-page-table tr td {
    font-size: 14px;
    font-family: "Lato", sans-serif;
    color: #333;
    line-height: 24px;
    vertical-align: middle;
    padding: 7px 5px;
}
.fac-accordion-sec h5 .collapsed:before {
    content: "+";
    font-size: 30px;
    font-weight: 300;
    color: #000;
    position: absolute;
    right: 0;
    top: -3px;
    line-height: 1;
}
.fac-accordion-sec h5 a.btn.btn-link:hover, .fac-accordion-sec h5 a.btn.btn-link:focus {
    color: #A9A9A9;
}
.fac-accordion-sec h5 a {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #00203FFF;
    white-space: normal;
    font-weight: 700;
    width: 100%;
    text-align: left;
    padding: 0;
    text-decoration: none;
    position: relative;
    display: block;
}
.fac-accordion-sec .card-header {
    padding: .75rem 1.5rem;
    background: none;
    border-radius: 0;
    border: none
}

.fac-accordion-sec .card {
    border-radius: 0;
    border: 1px solid #00203FFF;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #00203FFF;
}




		/*--------------------------------------footer start-------------------*/	
				.hey h2{
				color: #ADEFD1FF;
				}
		.hey{
			list-style: none;
			color:#ADEFD1FF;
		}
		.hey ul li{
						
						font-size: 20px;
						list-style-type:square;
						margin-top:20px;
					}
		.hey ul li a{
						color: #eafbf3;
						font-size: 20px;
						text-decoration: none;
					}
		.hey i{
					line-height: 40px;
					font-size: 20px;
					color:#eafbf3;
				  }
		.col-sm>ul { 
					
					padding-left: 5px;
					list-style:none;
				}
		.footer{
			padding-right: 0px;
		}		  
		.col-sm{	
				width:100%; 
				text-align:center;
				background-color: none;
			}
			.row{
				margin-left: 10px;
				margin-right:0px;
			}

			.copy{ 		
				clear:both;
				text-align: center;
				width:100%;
				line-height: 50px;
				background-color:#00203FFF ;
				color:#eafbf3;
                border:1px solid #26c07a;
			}
		.social { width: 50px;

    /* height: 20px; */
   				 border-radius: 50px;
   				 text-align: center;
				    line-height: 50px;
				    position: relative;
					right: 0px;
				}
				.social a{
						position: relative;
						right: 0px;
				}
	.side-social{
		list-style: none;
		
	}
	#instagram{
		background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, 
				    	#d6249f 60%, #285AEB 90%) !important;
	}	
	#gmail{
		background:linear-gradient(#D44638 , #B23121 , #EEEEEE ,
						 #E2E2E2 , #C6C6C6  ) !important;
	}
	#facebook{
		background: #3b5998  !important;
    color: #FFF !important;
	}		
	.social i{
		font-size: 20px;
	}		

.fa a{
	color: #eafbf3;
}
.fa a:hover{
	color: #ADEFD1FF;
}
	


		/*------------------------------------------------------Footer End---------------------------------------*/
