	

		body {
			padding: 5px;
    background-color: #00203FFF;
    margin: 0px;
    padding:0px; 
}
.navbar-brand{
	font-weight: bolder;
}
.nav-item a:hover{
				border-bottom:3px solid #685404;
				visibility:visible;
			}
.navbar-nav{
	font-size: 1em;
	width:100%;
}
.navbar-light .navbar-brand {
    color: #ADEFD1FF
}
.navbar a:hover{
	color: #00203FFF;
}
.navbar-brand{
		font-size:1.8em;
		font-family:sans sheriff;
	}
	.collapse{
		float:right;
		border-left: 3px solid white;
	}
	.collapse a:hover{
		border-bottom:2px solid #ADEFD1FF;
	}

.navbar-light .navbar-nav .nav-link {
    color:white;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white
}
.navbar-toggler{
	background-color:white;
}
.nav-item{
	font-weight: bolder;
	text-align: center;
	padding-left:3px;
	width:18%;
}
.dropdown-menu{
	background-color: #ADEFD1FF;
	text-align: center;
}
.dropdown-menu a:hover{
		box-sizing:border-box;
		box-shadow:2px 2px 2px 2px #00203FFF;
}
.name{
		height:75px;
		float: left;
		font-family: Trattatello, fantasy;
		color: #dadad8;
		margin-left:2%;
		transition-timing-function: ease-in-out;
	}
	#corner{
		width:10%
	}
	.name a{
		top:0px;
		right:0px;
		position:fixed;
		border:1px solid black;
		color:grey;
		width:100px;
		height:5%;
		text-align:center;
		transition: width 2s;
		background-color:white;
	}
	.name a:hover{
		border-radius:10px;
		width: 200px;
		background-color:white;
	}

	

/*************************navbar end**********************************/
		
.w3-content{
		 padding-top:12px;
		 margin-top:10px;
	 }
		
		.content h3,h2{
			margin:1px;
			padding: 1px;
			font-size:30px;
			font-family: arial black;
		}
		.main{
			margin:30px;
		}
		.main h1{
			margin-bottom:1px;
			text-align:center;
			font-size:50px;
			font-family: arial black;
		}
		.row2{
			margin:8px-16px;
		}
		.column2{
			float:left;
			width:50%;
		}
		.content{
			background-color:white;
			padding:10px;
		}
	@media screen and(max-width:900px){
		.column2{
			width:50%;
		}
	}
	@media screen and (max-width:600px){
		.column2{
			width:100%;
		}
	}
		.content1 h3{
				margin: 1px;
				padding: 1px;
				font-size: 30px;
				font-family: arial black;	
		}
		.row1{
			margin:8px-16px;
			width:100%;
		}
		.column1{
			float:left;
			width:33%;
		}
		.content1{
			background-color:white;
			padding:10px;
		}
	@media screen and(max-width:900px){
		.coloumn1{
			width:50%;
		}
	}
	@media screen and (max-width:600px){
		.column1{
			width:100%;
		}
	}
   				/*--------------------------------------footer start-------------------*/			
			
				.hey h2{
				color: #ADEFD1FF;
				}
		.hey{
			list-style: none;
			color:#ADEFD1FF;
		}
		.hey ul li{
						
						font-size: 20px;
						list-style-type:square;
						margin-top:20px;
					}
		.hey ul li a{
						color: #eafbf3;
						font-size: 20px;
						text-decoration: none;
					}
		.hey i{
					line-height: 40px;
					font-size: 20px;
					color:#eafbf3;
				  }
		.col-sm>ul { 
					
					padding-left: 5px;
					list-style:none;
				}
		.footer{
			padding-right: 0px;
		}		  
		.col-sm{	
				width:100%; 
				text-align:center;
				background-color: none;
				display:inline-block;
			}
			.row{
			margin-top:20px;
				padding-top:10px;
				
			}

			.copy{ 		
				clear:both;
				text-align: center;
				width:100%;
				line-height: 50px;
				background-color:#00203FFF ;
				color:#eafbf3;
                border:1px solid #26c07a;
			}
		.social { width: 50px;

    /* height: 20px; */
   				 border-radius: 50px;
   				 text-align: center;
				    line-height: 50px;
				    position: relative;
					right: 0px;
				}
				.social a{
						position: relative;
						right: 0px;
				}
	.side-social{
		list-style: none;
		
	}
	#instagram{
		background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, 
				    	#d6249f 60%, #285AEB 90%) !important;
	}	
	#gmail{
		background:linear-gradient(#D44638 , #B23121 , #EEEEEE ,
						 #E2E2E2 , #C6C6C6  ) !important;
	}
	#facebook{
		background: #3b5998  !important;
    color: #FFF !important;
	}		
	.social i{
		font-size: 20px;
	}		

.fa a{
	color: #eafbf3;
}
.fa a:hover{
	color: #ADEFD1FF;
}
	


		/*------------------------------------------------------Footer End---------------------------------------*/
