/* GALLERY.CSS FILE */		

		body{ 
				background-image:linear-gradient(#7F8688,#929D9E);
				padding:5px;
			}
		img{
				display:inline-flex;
			}
			.top{
			height:75px;
		}
		.name{
			height:75px;
			float: left;
			font-family: Trattatello, fantasy;
			color:#DCAF0A;
			margin-left:2%;
		}
		.main h2{
			color:white;
			text-align:center;
			padding-top:10px;
			margin-top:5px;
		}
		hr{
			width:100%;
			color: #929D9E;
		}
		.name h1{
			line-height: 75px;
			display:inline;
			font-weight: bolder;
		    font-family:sans seriff;
			font-size:35px;
		}
		#corner{
			width:10%;
		}
		.name a{
			top:0px;
			right:0px;
			position:fixed;
			border:1px solid black;
			color:grey;
			background-color:#F3E367;
			width:10%;
			height:5%;
			text-align:center;
		}
		.name a:hover{
			background-color:white;
		}

		 h2{
			color:white;
		}
		.content{
			color:#929D9E;
		}
		.content1{
			color:#929D9E;;
		}
		/*---------------------------------------------Top Menu Mtart-----------------------------------------------------*/		
		.def {
				margin-left: 1%;
			}
			.def>a:hover{
				border-bottom:3px solid #F3E367;
				visibility:visible;
			}
		.menu ul{
				margin:0px;
				padding: 0px;
				height:150px;
				list-style: none;
				}
		.menu ul li{
						display:block;
						float:left;
						width:200px;
						height: 50px;
						line-height: 50px;
						text-align:center;
						font-size: 20px;'
						position:fixed;
					}
		.menu ul li a{
						text-decoration: none;
						color: white;
						display: block;
						font-weight:bolder;		
                        font-size: 22px;					}
	
		.menu ul li a:hover{
								width:200px;
								height:50px;
							}
		.menu ul li ul li{
								display: none;
						}
		.menu ul li:hover ul li{
									display:block;
								
		}
		#after li a:hover{
background-color:#F3E367;
outline:0;
border:1px solid black;
}	
		.menu {		
					background-color: none;
 					width:100%;
				}
     /* ------------------------------------------------------------Top Menu End--------------------------------------*/

.w3-content{
		 padding-top:12px;
		 margin-top:10px;
	 }
		
		.content h3,h2{
			margin:1px;
			padding: 1px;
			font-size:30px;
			font-family: arial black;
		}
		.main{
			margin:30px;
		}
		.main h1{
			margin-bottom:1px;
			text-align:center;
			font-size:50px;
			font-family: arial black;
		}
		.row{
			margin:8px-16px;
		}
		.column{
			float:left;
			width:50%;
		}
		.content{
			background-color:white;
			padding:10px;
		}
	@media screen and(max-width:900px){
		.column{
			width:50%;
		}
	}
	@media screen and (max-width:600px){
		.column{
			width:100%;
		}
	}
		.content1 h3{
				margin: 1px;
				padding: 1px;
				font-size: 30px;
				font-family: arial black;	
		}
		.row1{
			margin:8px-16px;
		}
		.column1{
			float:left;
			width:33%;
		}
		.content1{
			background-color:white;
			padding:10px;
		}
	@media screen and(max-width:900px){
		.coloumn1{
			width:50%;
		}
	}
	@media screen and (max-width:600px){
		.column1{
			width:100%;
		}
	}

    .hey{
						float:left;
						margin-top: 20px;
						margin-left:100px;
						text-align: center;
					}
	.hey h2{
		color:#F3E367;
	}
		.hey ul li{
						line-height: 40px;
						font-size: 20px;
						list-style-type:square;
						text-align: center;
						margin-top:20px;
					}
		.hey ul li a{
						color:white;
						font-size: 20px;
						text-decoration: none;
					}
		.hey i{
					line-height: 40px;
					font-size: 20px;
				  }
		.add ul { 
					
					margin: 15px;
					padding: 0px;
					list-style:none;
				}	
		.add{	
				clear: both;
				width:100%;
				height:380px; 
				text-align:center;
				background-color: #7F8688;
				color:white;
				
			}
		.social{	
					margin: 0px;
					width:100%;
					height:50px;
				}
		.social a{
						display: block;
						position: relative;
						bottom:350px;
				 }
		.copy{ 		
				clear:both;
				text-align: center;
				width:100%;
				line-height: 50px;
				background-color:#929D9E ;
				color:white;
                border:1px solid #F3E367;
			}

.fa a{
	color: white;
}
.fa a:hover{
	color: #F3E367;
}
		/*------------------------------------------------------Footer End---------------------------------------*/











	
