	

	body{ 
	    background-color: #00203FFF;
		padding:5px;
	}
	.navbar-nav{
		width:100%;
	}
	.navbar-expand{
	}
	.nav-item{
		width:18%;
	}
	.collapse a:hover{
		border-bottom:2px solid #ADEFD1FF;
	}
	.dropdown-menu{
		background-color:#ADEFD1FF;
	}
	.dropdown-menu a:hover{
		box-sizing:border-box;
		box-shadow:2px 2px 2px 2px #00203FFF;
	}
	.dropdown-item a{
		color:#00203FFF;
		font-size:1em;
	}
	.navbar{
		border-radius:30px;
	}
	.collapse{
		float:right;
		border-left: 3px solid #999966;
	}
	.navbar-brand{
		font-size:1.8em;
		font-family:sans sheriff;
	}




	.name{
		height:75px;
		float: left;
		font-family: Trattatello, fantasy;
		color: #dadad8;
		margin-left:2%;
		transition-timing-function: ease-in-out;
	}
	#corner{
		width:10%
	}
	.name a{
		top:0px;
		right:0px;
		position:fixed;
		border:1px solid black;
		color:grey;
		width:100px;
		height:5%;
		text-align:center;
		transition: width 2s;
		background-color:white;
	}
	.name a:hover{
		border-radius:10px;
		width: 200px;
		background-color:#353531;
		color:white;
	}

	@media screen and(min-width:990px){
		.name a {
			display:none;
		}
	}
		/*--------------------------------------footer start-------------------*/	
			
		.hey{
				float:left;
				margin-top: 20px;
				margin-left:100px;
				text-align: center;
			}
	  	.hey h2{
				color:#ADEFD1FF;
				}
		.hey ul li{
						line-height: 40px;
						font-size: 20px;
						list-style-type:square;
						text-align: center;
						margin-top:20px;
					}
		.hey ul li a{
						color: #eafbf3;
						font-size: 20px;
						text-decoration: none;
					}
		.hey i{
					line-height: 40px;
					font-size: 20px;
				  }
		.add ul { 
					
					margin: 15px;
					padding: 0px;
					list-style:none;
				}	
		.add{	
				clear: both;
				width:100%;
				height:380px; 
				text-align:center;
				background-color: #00203FFF;
				color: #eafbf3;
			}
		.social{	
					margin: 0px;
					width:100%;
					height:50px;
				}
		.social a{
						display: block;
						position: relative;
						bottom:350px;
				 }
		.copy{ 		
				clear:both;
				text-align: center;
				width:100%;
				line-height: 50px;
				background-color:#00203FFF ;
				color:#eafbf3;
                border:1px solid #26c07a;
			}

.fa a{
	color: white;
}
.fa a:hover{
	color: #ADEFD1FF;
}
		/*------------------------------------------------------Footer End---------------------------------------*/
