*{
	box-sizing:border-box;
}
body {
    background-color: #7a007c73;
    margin: 0px;
    padding:0px; 
}
.navbar-brand{
	font-weight: bolder;
}
.nav-item a:hover{
				border-bottom:3px solid #685404;
				visibility:visible;
			}
.navbar-nav{
	font-size: 1em;
	width:100%;
}
.navbar-light .navbar-brand {
    color: #ADEFD1FF
}
.navbar a:hover{
	color: #00203FFF;
}
.navbar-brand{
		font-size:1.8em;
		font-family:sans sheriff;
	}
	.collapse{
		float:right;
		border-left: 3px solid white;
	}
	.collapse a:hover{
		border-bottom:2px solid #ADEFD1FF;
	}

.navbar-light .navbar-nav .nav-link {
    color:white;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white
}
.navbar-toggler{
	background-color:white;
}
.nav-item{
	font-weight: bolder;
	text-align: center;
	padding-left:3px;
	width:18%;
}
.dropdown-menu{
	background-color: #4f1131;
	text-align: center;
}
.dropdown-menu a:hover{
		box-sizing:border-box;
		box-shadow:2px 2px 2px 2px #00203FFF;
}
.dropdown-item{
	color: #ffffff;
}
.name{
		height:75px;
		float: left;
		font-family: Trattatello, fantasy;
		color: #dadad8;
		margin-left:2%;
		transition-timing-function: ease-in-out;
	}
	#corner{
		width:10%
	}
	.name a{
		top:0px;
		right:0px;
		position:fixed;
		border:1px solid black;
		color:grey;
		width:100px;
		height:5%;
		text-align:center;
		transition: width 2s;
		background-color:white;
	}
	.name a:hover{
		border-radius:10px;
		width: 200px;
		background-color:white;
	}

	

/*************************navbar end**********************************/

.breadcrumb{
			background: linear-gradient(45deg,#80619d8a,#ff149373);
}
.breadcrumb a{
			color: white;
}
.breadcrumb-item.active{
	color: black;
}
.breadcrumb a:hover{
	color:blue;
}

.sidebar{
	background:linear-gradient(45deg,#80619d8a,#ff149373);
	float: left;
	width: 250px;
	text-align: center;
	box-shadow: 0px 5px 10px black;
	height: 100vh;
	padding: 10px;
}
.sidebar a{
	display: block;
	color: white;
	font-size: 18px;
	text-decoration: none;
	padding: 14px 25px;
	border: 5px black;


}
.sidebar a:hover{
	background:linear-gradient(45deg,deeppink,coral ) ;
	border-radius: 50px;
	box-shadow: 0 0 5px black;
}
.row-content {
    margin-right: 0px auto;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px ridge;
}
.content-intro>p {
	font-family: benton-sans,sans-serif;
    font-size: 22px;
    font-size: 2rem;
    line-height: 32px;
    line-height: 2rem;
    font-weight: 500;
    color: #002e5d;
}
p{
	font-size: 1.32rem;
}
ul,ol{
	font-size: 1.2rem;
}
h2{
	font-size: 2.75rem;
}
img{
	border:solid;
}
