/* Tc.css*/
body{ 
				background-image:linear-gradient(rgba(54,51,51,0.8),rgba(0,0,0,0.2)),url('https://image.freepik.com/free-photo/proud-little-boy-with-glasses-graduation-cap_1098-3424.jpg');
				padding:5px;
				background-repeat: no-repeat;
				background-size:cover;
				background-position: center;
			}
		.top{
			height:75px;
		}
		.name{
			height:75px;
			float: left;
			font-family: Trattatello, fantasy;
			color:#DCAF0A;
			margin-left:2%;
		}
		.main h2{
			color:white;
			text-align:center;
			padding-top:10px;
			margin-top:5px;
		}
		hr{
			width:100%;
			color: #929D9E;
		}
		.name h1{
			line-height: 75px;
			display:inline;
			font-weight: bolder;
		    font-family:sans seriff;
			font-size:35px;
		}
		#corner{
			width:10%;
		}
		.name a{
			top:0px;
			right:0px;
			position:fixed;
			border:1px solid black;
			color:grey;
			background-color:#F3E367;
			width:10%;
			height:5%;
			text-align:center;
		}
		.name a:hover{
			background-color:white;
		}

		 h2{
			color:white;
		}
		.content{
			color:#929D9E;
		}
		.content1{
			color:#929D9E;;
		}




a:-webkit-any-link {
cursor:pointer;
}

        .def{
				margin-left: 1%;
			}
			
			.def>a:hover{
				border-bottom:3px solid #685404;
				opacity:1;
				visibility:visible;
			}
	
		.menu ul{
				margin:0px;
				padding: 0px;
				height:50px;
				list-style: none;
				}
		.menu ul li{
						display:block;
						float:left;
						width:200px;
						height: 50px;
						line-height: 50px;
						text-align:center;
						font-size: 20px;
						position:relative;
					}
		.menu ul li a{
						text-decoration: none;
						color: white;
						display: block;
						font-weight:bolder;		
                        font-size: 22px;			
                        white-space:nowrap;
						position:relative;
						overflow:hidden;
						transition: all 0.3s ease;
						}
	
		.menu ul li a:hover{
								/*-webkit-transform:rotate(360deg);
								transform:rotate(360deg);
								transition-duration: 0.8s;*/
								width:200px;
								height:50px;
		}
#after li a:hover{
background-color:#F3E367;
outline:0;
border:1px solid black;
}	
		
		.menu ul li ul li{
								display: none;
						}
		.menu ul li:hover ul li{
									display:block;	
}
					
		.menu {		
					background-color: none;
 					width:100%;
		}
/*---------------------------------top end-----------------------------*/
		
		.tc{
			width: 30%;
			float: left;
			margin-top: 10px;
			height:400px;
		}
		.tc h3{ 
				line-height: 50px;
				text-align: center;
				font-size: 40px;
				font-weight: bolder;
				color: #F3E367;
		}

		.admsnnumber input{
			cursor: pointer;
			color: black;
			border:1px solid black;
			font-size: 20px;
			border-radius: 5px 0 5px 0;
			line-height:30px;
			background: rgba(0,0,0,0.4);
		}
		.tcdetails{
			margin-top: 10px;
		}

		.tcdetails input{
			font-size: 20px;
			font-weight: bolder;
			border-radius:5px 0 5px 0;
			width:60%;
			line-height: 30px;
			background:#b09226; 
			cursor: pointer;
		}
		







/*--------------------------------------footer start-------------------*/	
			
		.hey{
				float:left;
				margin-top: 20px;
				margin-left:100px;
				text-align: center;
			}
	  	.hey h2{
				color:#F3E367;
				}
		.hey ul li{
						line-height: 40px;
						font-size: 20px;
						list-style-type:square;
						text-align: center;
						margin-top:20px;
					}
		.hey ul li a{
						color:white;
						font-size: 20px;
						text-decoration: none;
					}
		.hey i{
					line-height: 40px;
					font-size: 20px;
				  }
		.add ul { 
					
					margin: 15px;
					padding: 0px;
					list-style:none;
				}	
		.add{	
				clear: both;
				width:100%;
				height:380px; 
				text-align:center;
				background-color: #7F8688;
				color:white;
				
			}
		.social{	
					margin: 0px;
					width:100%;
					height:50px;
				}
		.social a{
						display: block;
						position: relative;
						bottom:350px;
				 }
		.copy{ 		
				clear:both;
				text-align: center;
				width:100%;
				line-height: 50px;
				background-color:#929D9E ;
				color:white;
                border:1px solid #F3E367;
			}

.fa a{
	color: white;
}
.fa a:hover{
	color: #F3E367;
}
		/*------------------------------------------------------Footer End---------------------------------------*/
