/*--------------------------------------footer start-------------------*/	
			
		.hey{
				float:left;
				margin-top: 20px;
				margin-left:100px;
				text-align: center;
			}
	  	.hey h2{
				color:#ADEFD1FF;
				}
		.hey ul li{
						line-height: 40px;
						font-size: 20px;
						list-style-type:square;
						text-align: center;
						margin-top:20px;
					}
		.hey ul li a{
						color: #eafbf3;
						font-size: 20px;
						text-decoration: none;
					}
		.hey i{
					line-height: 40px;
					font-size: 20px;
				  }
		.add ul { 
					
					margin: 15px;
					padding: 0px;
					list-style:none;
				}	
		.add{	
				clear: both;
				width:100%;
				height:380px; 
				text-align:center;
				background-color: #00203FFF;
				color: #eafbf3;
			}
		.social{	
					margin: 0px;
					width:100%;
					height:50px;
				}
		.social a{
						display: block;
						position: relative;
						bottom:350px;
				 }
		.copy{ 		
				clear:both;
				text-align: center;
				width:100%;
				line-height: 50px;
				background-color:#00203FFF ;
				color:#eafbf3;
                border:1px solid #26c07a;
			}

.fa a{
	color: white;
}
.fa a:hover{
	color: #ADEFD1FF;
}
		/*------------------------------------------------------Footer End---------------------------------------*/
